:root {
    box-sizing: border-box;
    text-wrap: balance;
}

body {
    // margin: 0vh 20vh 0vh 20vh;
    // max-width: 80vw;
    height: 100vh;
    /* background pattern :) stolen from https://www.magicpattern.design/tools/css-backgrounds */
    animation: background 20000ms infinite ease-in-out;
    background-color: #f5c2f2b6;
    opacity: 0.9;
    background-image: radial-gradient(circle at center center, #f2cb61, #f6e6f7), repeating-radial-gradient(circle at center center, #f5da8f, #f2ce6c, 24px, transparent 48px, transparent 24px);
    background-blend-mode: saturation;
    // background-blend-mode: multiply;

}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes background {
    0% {
        background-color: #f5c9c2b6;
    }

    10% {
        background-color: #f5eac2b6;
    }

    20% {
        background-color: #dbf5c2b6;
    }

    30% {
        background-color: #c2f5eab6;
    }

    40% {
        background-color: #c2def5b6;
    }

    50% {
        background-color: #c8c2f5b6;
    }

    60% {
        background-color: #e9c2f5b6;
    }

    70% {
        background-color: #f5c2f2b6;
    }

    80% {
        background-color: #f5c2e5b6;
    }

    90% {
        background-color: #f5c2d1b6;
    }

    100% {
        background-color: #f5c2c2b6;
    }
}

section {
    /* From https://css.glass */
    background: rgba(122, 220, 253, 0.5);
    backdrop-filter: blur(2.3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    // background: rgb(129, 115, 179);
    // box-shadow: 15px 15px 16px -16px rgba(61, 41, 24, 1);
    margin: 2rem;
    padding: 2rem;
    // border-radius: .8rem;
    // color: rgb(90, 255, 131);
}

select {
    background: rgb(90, 255, 131);
    // padding: .4rem .25rem .4rem .25rem;
    border-radius: 1rem;
    text-align: center;
    margin: .2rem;
    font-weight: bold;
    color: rgb(74, 65, 105);
    font-size: x-large;
}

p {
    font-size: x-large;
    padding: 1rem 10rem 1rem 10rem;
}

// sass-lang.com/guide